
        <!-- Bootstrap CSS --> 
        <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
        <!-- Animate Min CSS -->
        <link rel="stylesheet" href="/static/assets/css/animate.min.css">
        <!-- Flaticon CSS -->
        <link rel="stylesheet" href="/static/assets/fonts/flaticon.css">
        <!-- Boxicons CSS -->
        <link rel="stylesheet" href="/static/assets/css/boxicons.min.css">
        <!-- Owl Carousel Min CSS --> 
        <link rel="stylesheet" href="/static/assets/css/owl.carousel.min.css">
        <link rel="stylesheet" href="/static/assets/css/owl.theme.default.min.css">
        <!-- Nice Select Min CSS --> 
        <link rel="stylesheet" href="/static/assets/css/nice-select.min.css">
        <!-- Meanmenu CSS -->
        <link rel="stylesheet" href="/static/assets/css/meanmenu.css">
        <!-- Style CSS -->
        <link rel="stylesheet" href="/static/assets/css/style.css">
        <!-- Responsive CSS -->
        <link rel="stylesheet" href="/static/assets/css/responsive.css">
        <!-- Theme Dark CSS -->
        <link rel="stylesheet" href="/static/assets/css/theme-dark.css">


        <!-- Favicon -->
        <link rel="icon" type="image/png" href="/static/assets/images/favicon.png">
